.HotNews {
    grid-area: hotnews;
}
.content {
    grid-area: content;
}
.grid {
    display: grid;
    grid-template-areas: 'hotnews' 'content';
}
.first-line{
    grid-area: first-line;
}
.emirate {
    grid-area: emirate;
}
.spain {
    grid-area: spain;
}
.content {
    width: 80%;
    display: grid;
}

.first-line {
    display: grid;
    grid-template-areas: 'emirate spain';
}