* {
    margin: 0;
    padding: 0;
}

html, body {
    /*width: 1900px;*/
    height: 100%;
}

.container {
    font-family: sans-serif;
}

.first-header {
    display: flex;
    justify-content: space-between;
    background: #1d2124;
    color: white;
    opacity: 0.9;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    display: flex;
    background: #1a1d20;
}

.next {
    flex-wrap: wrap;
}

.top-logo {
    display: flex;
    align-items: center;
}

.logo1 {
    width: 27px;
    height: 27px;
}

.top-nav-flexxx {
    font-size: 15px;
    line-height: 12px;
    display: flex;
}

.logo-text {
    font-size: 22px;
    margin-left: 6px;
    line-height: 18px;
    font-weight: 700;
}

.top-nav {
    list-style-type: none;
    text-transform: uppercase;
    margin-left: 37px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 68px;
    background: #171a1c;
    font-size: 17px;
}

.back {
    background-image: url("../img/news.png ");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.news-top {
    height: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.news-text-top {
    flex-wrap: wrap;
    font-size: 27px;
    line-height: 21px;
}

.news {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.news-text-top {
    /*margin-bottom: 44px;*/
}

.btn {
    margin-top: 44px;
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    line-height: 15px;
}

.subscr {
    background-color: #89ca62;
}

.bst-artcl {
    background-color: #14b9d5;
    margin-left: 20px;
}

.top-content {
    width: inherit;
    background: #f2f2f2;
    height: 1030px;
}

.header-top {
    text-align: center;
}

.content {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.white {
    background: white;
}

.header-top {
    font-size: 27px;
    height: 21px;
    color: #18b4cf;
    padding-top: 61px;
    padding-bottom: 52px;
}

.middle-column-top, .left-column-top, .right-column-top {
    text-align: center;
}

.left-column-top {
    margin-right: 30px;
}

.middle-column-top {
    margin-right: 30px;
}

.descr-top-cont {
    padding-top: 20px;
    padding-bottom: 22px;
}

.left-top-img, .middle-top-img, .left-top-img {
    margin-bottom: 32px;
}
a {
    text-decoration: none;
    color: white;
}
