* {
    font-family: "Verdana", sans-serif;
    margin: 0;
    color: white;
    box-sizing: content-box;
    /*text-align: center;*/
}

html {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 1366px;
    height: 768px;

}

body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;

}

a {
    margin: 0;
    text-decoration: none;
}

img {
    display: inline-block;
    border: 1px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #fefefe 100%);
    border-image-slice: 1;

}

.header {

    height: 44px;
    width: 1064px;
    margin-top: 49px;
    margin-left: 155px;
    margin-right: 147px;
    /*margin-bottom: 45px;*/
}

.header, .logo, .logo-img, .contacts, .mh {
    display: inline-block;
}

.logo {
    display: inline-block;
    float: left;
    text-align: left;
}

.logo-img {
    border: none;
}

.mh {
    display: inline-block;
}

.Bname, .Sname {
    margin-left: 15px;
    text-transform: uppercase;
}

.Bname {
    font-size: 29px;
}

.Sname {
    font-size: 18px;
}

.contacts {
    font-size: 18px;
    text-align: right;
    float: right;
    padding-top: 7px;
}

.content {
    margin-left: 157px;
    margin-right: 150px;
    text-align: center;
}

.content, .sh-t, .sg-t, .f-t, .b-n, .a-a, .w-t {
    display: inline-block;
}

.sh-t, .b-n {
    float: left;
    margin-right: 65px;
}

.f-t, .w-t {
    float: right;
}

.sg-t, .a-a {
    margin-right: 65px;
}

.descr {
    margin-top: 21px;
}

footer {
    display: block;
    text-align: center;
    margin-top: 58px;
    margin-bottom: 20px;
    font-size: 12px;
}

p.descr:hover {
    color: #f26522;
}


.logo31 {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 44px;
    background-image: url("../img/white.png");
}

.logo31:hover {
    background-image: url("../img/orange.png");
}

.menu2 {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #f26522;
    bottom: 0;
    left: 0;
}

.sh-t:hover .menu2 {
    /*margin: 0;*/
    height: 63px;
    transition: all linear 1s;

}

.sh-t, .sg-t, .f-t {
    margin-top: 48px;
}

.b-n, .a-a, .w-t {
    margin-top: 58px;
}

.sh-t, .sg-t, .f-t, .b-n, .a-a, .w-t {
    width: 309px;
    height: 201px;
    position: relative;
}

.sg-t:hover .menu2 {
    /*margin: 0;*/
    height: 63px;
    transition: all linear 1s;
}

.b-n:hover .menu2 {
    /*margin: 0;*/
    height: 63px;
    transition: all linear 1s;
}

.f-t:hover .menu2 {
    /*margin: 0;*/
    height: 63px;
    transition: all linear 1s;
}

.a-a:hover .menu2 {
    /*margin-: 0;*/
    height: 63px;
    transition: all linear 1s;
}

.a-a {
    width: 309px;
    height: 203px;
    position: relative;
}

.w-t {
    height: 202px;
}

.w-t:hover .menu2 {
    height: 63px;
    transition: all linear 1s;
}


.logo:hover .mh p {
    color: #f26522;
    transition: all linear 1s;
}

.logo:hover .logo31 {
    background-image: url("../img/orange.png");
    transition: all linear 1s;
}

.menu2 > * {
    display: inline-block;
}

.l-menu, .r-menu {
    padding-left: 21px;
    float: left;
}

.l-menu {
    padding-top: 16px;
}

.r-menu {
    padding-top: 7px;
    clear: both;
}

.m-menu {
    padding-top: 35px;
    padding-left: 125px;
}

.m-menu:after {
    display: inline-block;
    content: '\203A';
    padding-right: 18px;
    padding-left: 10px;
    font-size: 14px;
}
