

.ourServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.headerServ {
    font-size: 36px;
    margin-top: 82px;
    margin-bottom: 37px;
    line-height: 27px;
    font-weight: normal;
    color: rgba(78, 78, 78, 255);
}

.bord1, .bord2 {
    width: 76px;
    border-bottom: 1px solid #18cfab;
}

.bord2 {
    margin-top: 3px;
    margin-left: 12px;
}

.servicesMenu {
    margin-top: 70px;
}

.menuInset {
    display: flex;
    justify-content: center;

}

.menuInsetBtn {
    height: 73px;
    width: 193px;
    border: 0;
    font-size: 16.4px;
    color: rgba(113, 113, 113, 255);
    background: #f8fcfe;
    border-top: 1px solid #ebecec;
    border-bottom: 1px solid #ebecec;
    cursor: pointer;
}


.webDesignBtn, .grDesignBtn, .SupportBtn, .appDesignBtn, .onMarketing {
    border-left: 1px solid #ebecec;
}

.seoService {
    border-right: 1px solid #ebecec;
    border-left: 1px solid #ebecec;
}

.servMenuImg {
    width: 194px;
    height: 140px;
}

div.buttonText > div {
    display: none;
}

/*ДЛЯ АКТИВНОЙ КНОПКИ*/
div.servicesMenu > div.menuInset > button.active {
    background: #18cfab;
    border: 0;
    color: white;
}

/*ДЛЯ АКТИВНОГО БЛОКА*/
.buttonText > div.active {
    display: flex;
    margin-top: 24px;
    width: 1159px;
}

.buttonText > div > img {
    margin-right: 20px;
}

.buttonText > div > p {
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
}
