* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

div.container {
    width: 1920px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.headCont {
    background-image: url("../img/headBck.png");
    height: 1012px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.companyName {
    display: flex;
    align-items: inherit;
    margin-left: 389px;
    margin-right: 292px;
}

.name {
    font-size: 16px;
    letter-spacing: 2px;
    margin-left: 8px;
}

.headContSpan {
    font-weight: bold;
}

.headContSpan {
    margin-left: -8px;
}

.logoImg {
    display: inherit;
    background-image: url('../img/logoH.png');
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 67px;
    width: 58px;
}

ul.topNavMenu {
    height: 100%;
    list-style: none;
    display: flex;
    width: 644px;
    justify-content: space-between;
    align-items: center;
    margin-right: 17px;
    font-size: 13px;
    opacity: 0.9;
}

ul.topNavMenu > li > a, ul.topNavMenu > li {
    display: flex;
    height: 100%;
    align-items: center;
}

.topNavMenu > li > a:hover {
    border-bottom: 2px solid #18cfab;

}

a {
    text-decoration: none;
    color: white;
}

.fa-search {
    font-size: 22px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6)
}

header > .fa-search:hover {
    color: white;
    font-size: 27px;
}

.topMainInf {
    color: white;
    text-align: center;
    /*width: 100%;*/

}

.topBtns {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: center;
    margin-top: 143px;
}

#topBtn1, #topBtn2 {
    width: 166px;
    height: 61px;
    color: white;
    border: 0;
    border-top: 4px white solid;

    border-radius: 5px;
    font-size: 12.6px;
    line-height: 9px;

}

#topBtn1 {
    margin-right: 28px;
    background: #18cfab;
}

#topBtn2 {
    background: #00cbf6;
}

#topBtn1:hover {
    border: 0;
    border-radius: 5px;
}

#topBtn2:hover {
    border: 0;
    border-radius: 5px;
}

.description {
    height: 369px;
    display: flex;
    width: 100%;

}

.theme, .support, .customize, .device {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme, .support {
    background: #1c2a33;
    border-top: 5px #18cfab solid;
    color: #18cfab;
}

.customize, .device {
    background: #18cfab;
    border-top: 5px white solid;
    color: white;
}

.descrImg {

}

.descrText {
    margin-top: 48px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 14px;
}

.ourServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.headerServ {
    font-size: 36px;
    margin-top: 82px;
    margin-bottom: 37px;
    line-height: 27px;
    font-weight: normal;
    color: rgba(78, 78, 78, 255);
}

.bord1, .bord2 {
    width: 76px;
    border-bottom: 1px solid #18cfab;
}

.bord2 {
    margin-top: 3px;
    margin-left: 12px;
}

.servicesMenu {
    margin-top: 70px;
}

.menuInset {
    display: flex;
    justify-content: center;

}

.menuInsetBtn {
    height: 73px;
    width: 193px;
    border: 0;
    font-size: 16.4px;
    color: rgba(113, 113, 113, 255);
    background: #f8fcfe;
    border-top: 1px solid #ebecec;
    border-bottom: 1px solid #ebecec;
    cursor: pointer;
}


.webDesignBtn, .grDesignBtn, .SupportBtn, .appDesignBtn, .onMarketing {
    border-left: 1px solid #ebecec;
}

.seoService {
    border-right: 1px solid #ebecec;
    border-left: 1px solid #ebecec;
}

.servMenuImg {
    width: 194px;
    height: 140px;
}

div.buttonText > div {
    display: none;
}

/*ДЛЯ АКТИВНОЙ КНОПКИ*/
div.servicesMenu > div.menuInset > button.active {
    background: #18cfab;
    border: 0;
    color: white;
}

/*ДЛЯ АКТИВНОГО БЛОКА*/
.buttonText > div.active {
    display: flex;
    margin-top: 24px;
    width: 1159px;
}

.buttonText > div > img {
    margin-right: 20px;
}

.buttonText > div > p {
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
}

div.purchBack {
    margin-top: 101px;
    background-image: url("../img/bckg2.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

div.purchase {
    height: 476px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.installBlockHeader {
    margin-top: 128px;
    font-size: 39.55px;
    line-height: 29px;
    color: rgba(24, 207, 171, 255);
}

.installBlockText {
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    margin-top: 35px;
}

.installBlockBtn {
    width: 165px;
    height: 61px;
    background: #18cfab;
    color: white;
    font-size: 13.66px;
    line-height: 9px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-top: 4px solid white;
    border-radius: 5px;
    margin-top: 76px;
    margin-bottom: 128px;
}

.installBlockBtn:hover {
    border: 0;
    cursor: pointer;
}
/*
//////////////////
//////////////////

////////////////////////////////////
*/
/*///////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////*/
/**/
.amazingWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8fcfe;
}

.amWkHeader {
    margin-top: 97px;
    margin-bottom: 26px;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
}

.awBord {
    margin-bottom: 70px;
}

.amWkMenu {
    display: flex;

}

.amWkMenuBtn {
    background: #ffffff;
    color: gray;
    padding: 20px;
    border: 0;
    border-top: 1px #ebecec solid;
    border-bottom: 1px #ebecec solid;
    border-left: 1px #ebecec solid;
}

.amWkMenuBtn:hover {
    /*border-top: 1px solid #18cfab;*/
    color: #18cfab;
}

.amWordpress {
    border-right: 1px #ebecec solid;
}

.awImg {
    width: 70%;
    /*flex-direction: row;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.awImg > * {
    width: 286px;
    height: 207px;
}
.crDes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.awIcons {
    margin-bottom: 34px;
    margin-top: 46px;
}

.awIcons > .fa-link {
    border: 2px solid #18cfab;
    padding: 10px;
    border-radius: 100px;
    font-size: 15px;
    color: #18cfab;
}

.awIcons > .fa-link:hover {
    color: white;
    background: #18cfab;
}

.awIcons > .fa-search:hover {
    color: white;
    background: #18cfab;
}

.awIcons > .fa-search {
    border: 2px solid #18cfab;
    padding: 10px;
    border-radius: 100px;
    font-size: 15px;
    color: #18cfab;
    /*line-height: 12px;*/
}

/*.awImg > * {*/
/*    !*display: flex;*!*/
/*    !*flex-direction: row;*!*/
/*    width: 285px;*/
/*    height: 208px;*/
/*}*/
.sec12 {
    display: none;
}
.activeItem {
    border-top: 2px #18cfab solid;
}



.awBtn {
    margin-top: 71px;
    width: 165px;
    height: 60px;
    border: 0;
    border-radius: 3px;
    background: #18cfab;
    font-size: 14px;
    /*line-height: 10px;*/
    color: white;
    /*text-align: center;*/
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.cssload-thecube {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43,160,199);
    animation: cssload-fold-thecube 2.76s infinite linear both;
    -o-animation: cssload-fold-thecube 2.76s infinite linear both;
    -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
    animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-o-keyframes cssload-fold-thecube {
    0%, 10% {
        -o-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -o-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -o-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-ms-keyframes cssload-fold-thecube {
    0%, 10% {
        -ms-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -ms-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -ms-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-fold-thecube {
    0%, 10% {
        -webkit-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cssload-fold-thecube {
    0%, 10% {
        -moz-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -moz-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -moz-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}