* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
}

div.container {
    width: 1920px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.headCont {
    background-image: url("../img/headBck.png");
    height: 1012px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.companyName {
    display: flex;
    align-items: inherit;
    margin-left: 389px;
    margin-right: 292px;
}

.name {
    font-size: 16px;
    letter-spacing: 2px;
    margin-left: 8px;
    font-weight: lighter;

}

.headContSpan {
    font-weight: bold;
}

.headContSpan {
    margin-left: -8px;
}

.logoImg {
    display: inherit;
    background-image: url('../img/logoH.png');
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 67px;
    width: 58px;
}

ul.topNavMenu {
    height: 100%;
    list-style: none;
    display: flex;
    width: 644px;
    justify-content: space-between;
    align-items: center;
    margin-right: 17px;
    font-size: 13px;
    opacity: 0.9;
    font-weight: revert;
}

ul.topNavMenu > li > a, ul.topNavMenu > li {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 2px solid rgba(1,1,1,0);
    margin-top: 2px;
}

.topNavMenu > li > a:hover {
    color: #18cfab;

}

a {
    text-decoration: none;
    color: white;
}

.fa-search {
    font-size: 22px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6)
}



.topMainInf {
    color: white;
    text-align: center;
    /*width: 100%;*/

}

.topBtns {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: center;
    margin-top: 143px;
}

#topBtn1, #topBtn2 {
    width: 166px;
    height: 61px;
    color: white;
    border: 0;
    border-top: 4px white solid;

    border-radius: 5px;
    font-size: 12.6px;
    line-height: 9px;

}

#topBtn1 {
    margin-right: 28px;
    background: #18cfab;
}

#topBtn2 {
    background: #00cbf6;
}

#topBtn1:hover {
    border: 0;
    border-radius: 5px;
}

#topBtn2:hover {
    border: 0;
    border-radius: 5px;
}

.description {
    height: 369px;
    display: flex;
    width: 100%;

}

.theme, .support, .customize, .device {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme, .support {
    background: #1c2a33;
    border-top: 5px #18cfab solid;
    color: #18cfab;
}

.customize, .device {
    background: #18cfab;
    border-top: 5px white solid;
    color: white;
}

.descrText {
    margin-top: 48px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 14px;
}

.ourServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.headerServ {
    font-size: 36px;
    margin-top: 82px;
    margin-bottom: 37px;
    line-height: 27px;
    font-weight: normal;
    color: rgba(78, 78, 78, 255);
}

.bord1, .bord2 {
    width: 76px;
    border-bottom: 1px solid #18cfab;
}

.bord2 {
    margin-top: 3px;
    margin-left: 12px;
}

.servicesMenu {
    margin-top: 70px;
}

.menuInset {
    display: flex;
    justify-content: center;
    outline: 0;

}

.menuInsetBtn {
    height: 73px;
    width: 193px;
    /*border: 0;*/
    font-size: 16.4px;
    color: rgba(113, 113, 113, 255);
    background: #f8fcfe;
    border-top: 1px solid #ebecec;
    border-bottom: 1px solid #ebecec;
    cursor: pointer;
    outline: 0;
}


.webDesignBtn, .grDesignBtn, .SupportBtn, .appDesignBtn, .onMarketing {
    border-left: 1px solid #ebecec;
}

.seoService {
    border-right: 1px solid #ebecec;
    border-left: 1px solid #ebecec;
}

.servMenuImg {
    width: 194px;
    height: 140px;
}

div.buttonText > div {
    display: none;
}

/*ДЛЯ АКТИВНОЙ КНОПКИ*/
div.servicesMenu > div.menuInset > button.active {
    background: #18cfab;
    border: 0;
    color: white;
}

/*ДЛЯ АКТИВНОГО БЛОКА*/
.buttonText > div.active {
    display: flex;
    margin-top: 24px;
    width: 1159px;
}

.buttonText > div > img {
    margin-right: 20px;
}

.buttonText > div > p {
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
}

div.purchBack {
    margin-top: 101px;
    background-image: url("../img/bckg2.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

div.purchase {
    height: 476px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.installBlockHeader {
    margin-top: 128px;
    font-size: 39.55px;
    line-height: 29px;
    color: rgba(24, 207, 171, 255);
}

.installBlockText {
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    margin-top: 35px;
}

.installBlockBtn {
    width: 165px;
    height: 61px;
    background: #18cfab;
    color: white;
    font-size: 13.66px;
    line-height: 9px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-top: 4px solid white;
    border-radius: 5px;
    margin-top: 76px;
    margin-bottom: 128px;
}

.installBlockBtn:hover {
    border: 0;
    cursor: pointer;
}


.awIcons > .fa-link:hover {
    color: white;
    background: #18cfab;
}

.awIcons > .fa-search:hover {
    color: white;
    background: #18cfab;
}

.awIcons > .fa-search {
    border: 2px solid #18cfab;
    padding: 10px;
    border-radius: 100px;
    font-size: 15px;
    color: #18cfab;
    /*line-height: 12px;*/
}

.amazingWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8fcfe;
    width: 100%;
}

.amWkHeader {
    margin-top: 97px;
    margin-bottom: 26px;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
}

.awBord {
    margin-bottom: 70px;
}

.amWkMenu {
    display: flex;

}

.amWkMenuBtn {
    background: #ffffff;
    color: gray;
    padding: 20px;
    border: 0;
    border-top: 1px #ebecec solid;
    border-bottom: 1px #ebecec solid;
    border-left: 1px #ebecec solid;
    outline: 0
}

.amWkMenuBtn:hover {
    /*border-top: 1px solid #18cfab;*/
    color: #18cfab;
}

.amWordpress {
    border-right: 1px #ebecec solid;
}

.fist12, .sec12 {
    width: 70%;
    /*flex-direction: row;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.awImg > * {
    width: 286px;
    height: 207px;
}

.crDes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.awIcons {
    margin-bottom: 34px;
    margin-top: 46px;
}

.awIcons > .fa-link {
    border: 2px solid #18cfab;
    padding: 10px;
    border-radius: 100px;
    font-size: 15px;
    color: #18cfab;
}

.awIcons > .fa-link:hover {
    color: white;
    background: #18cfab;
}

.awIcons > .fa-search:hover {
    color: white;
    background: #18cfab;
}

.awIcons > .fa-search {
    border: 2px solid #18cfab;
    padding: 10px;
    border-radius: 100px;
    font-size: 15px;
    color: #18cfab;
}


.sec12 {
    display: none;
}

.activeItem {
    border-top: 2px #18cfab solid;
}


.awBtn {
    margin-top: 71px;
    width: 165px;
    height: 60px;
    border: 0;
    border-radius: 3px;
    background: #18cfab;
    font-size: 14px;
    /*line-height: 10px;*/
    color: white;
    /*text-align: center;*/
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


.brNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.brNews > h1 {
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    line-height: 34px;
    font-weight: normal;
    margin-top: 84px;
    margin-bottom: 30px;
}

.contentBox {
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: space-between;
    margin-bottom: 133px;
}

.imgPostBody {
    width: 263px;
    height: 280px;
    border: 1px solid #edeeee;
    margin-bottom: 45px;
}

.post {
    width: 263px;
    height: 208px;
    display: flex;
    justify-content: flex-end;
}

.imgPost {
    background-image: url("../img/imagePost.png");
}

.post1 {
    background-image: url("../img/blogPost.png");
}

.post2 {
    background-image: url("../img/blogPost2.png");
}

.post3 {
    background-image: url("../img/blogPost3.png");
}

.post4 {
    background-image: url("../img/blogPost4.png");
}

.post5 {
    background-image: url("../img/blogPost5.png");
}

.post6 {
    background-image: url("../img/blogPost6.png");
}

.post7 {
    background-image: url("../img/blogPost7.png");
}

.brNews a:hover .postDate{
    background: #18cfab;
}
.brNews a:hover h2{
    color: #18cfab;
}

.postDate {
    /*text-align: center;*/
    width: 68px;
    height: 66px;
    background: #203e38;
    font-size: 16.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.postHref {
    color: black;
}

.postInf {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

h2 {
    font-size: 18.4px;
    line-height: 18px;
    color: rgba(119, 119, 119, 255);
    margin-left: 13px;
    margin-top: 14px;
    margin-bottom: 12px;

}

.auth {
    font-size: 14.37px;
    color: rgba(119, 119, 119, 255);
    display: flex;
    margin-left: 17px;
}

.auth > p {
    margin-right: 20px;
}

/*.whatSay {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    background-image: url("../img/bckg3.jpg");*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    width: 100%;*/
/*}*/

.whatSay {
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bckg3.jpg");
    background-size: cover;
    color: white;
}

.whatSay > h1 {
    margin-top: 98px;
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 31px;
}

.wsDiv {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 43px;
    width: 70%;
    margin-bottom: 57px;
}

div.firstPrs > .wsText {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(187, 187, 187, 255);
    margin-bottom: 43px;
    min-height: 60px;

}

.infPrs {
    margin-bottom: 27px;
    text-align: center;
}

.namePrs {
    font-size: 18px;
    color: rgba(24, 207, 171, 255);
    margin-bottom: 16px;
}

.profession {
    font-size: 14px;
    color: rgba(187, 187, 187, 255);
}

.bordShad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 164px;
    border: 10px solid rgba(24, 207, 171, 0.3);;
    border-radius: 50%;

}

.prsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imgActive {
    width: 100%;
    height: 100%;
    border: 3px solid rgba(24, 207, 171, 1);
    border-radius: 70%;
}

.WsActive {
    display: flex;
}

.slider {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.sldBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
    width: 31px;
    height: 31px;
    font-size: 25px;
    color: rgba(187, 187, 187, 255);
    /*border: 1px solid rgba(187, 187, 187, 250);*/
    box-shadow: 0 0 0 1px rgba(187, 187, 187, 250);

}

.sldBtn:hover {
    background: #18cfab;
    border: 0;
    color: white;
}

.bordShad2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 5px solid rgba(24, 207, 171, 0.3);;
    border-radius: 50%;
    /*overflow: hidden;*/
}

.miniImgPrs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*border: 1px solid #18cfab;*/
    height: 100%;
    border-radius: 100px;
}


div.activeSldImg {
    margin-top: -20px;
}

div.activeSldImg > img {
    width: inherit;
    height: inherit;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

a {
    display: block;
}
#search:hover {
    color : #18cfab;
}

footer {
    /*margin-top: 81px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}