* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

table {
    font-weight: 700;
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    border-collapse: collapse;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 255);;
    text-align: center;
    width: 1192px;
    height: 736px;
    border: #3a4965 32px solid;
}

td {
    border-left: 2px solid #d9d9d9;
}

.col-white {
    color: #ffffff;
    font-size: 24px;
}

p {
    font-size: 60px;
    line-height: 50px;
}

sup {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    font-size: 24px;
    line-height: 18px;
}

sub {
    position: relative;
    vertical-align: baseline;
    margin-left: -50px;
    margin-top: -14px;
    font-size: 18px;
    line-height: 14px;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
               ФОН
*/
table .header .standart-head,
.ultimate-head,
.premium-head {
    border: none;
}

table .header .standart-head {
    background: #89c331;
    border-left: 2px solid #d9d9d9;

}

table .header .ultimate-head {
    background: #f04a56;

}

table .header .premium-head {
    background: #20807c;

}

table .stor-line,
table .email-line,
table .prod-line {
    background: #f2f2f2;
}

table .band-line,
table .sup-line,
table .user-line {
    background: #e3e3e3;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>*/

table .header .head {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 10px;
}

table. header h1 {
    font-size: 30px;

}

button {
    cursor: pointer;
    font-size: 16px;
    line-height: 13px;
    color: white;
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
    padding-top:19px;
    padding-left: 45px;
    padding-right: 44px;
    padding-bottom: 17px;
}
.feedback-btn {
    background: #484848;
}
.standart-btn {
    background: #89c331;
}
.ultimate-btn {
    background: #f04a56;
}
.premium-btn {
    background: #20807c;
}

button:hover {
     opacity: 0.7;
     border-radius: 70px;
     transition: all 1s ease;
}
td:hover {
    color: black;
}