* {
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}
body {
   margin: 0;
}
.nav-bar{
    font-size: 18pt;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 35px}
.nav-bar-item {
    letter-spacing: 3px;
    color:#45b49d;
    text-decoration: none;
    margin: 40px;
}
img {
    display: block;
    width: 100%;
    max-height: 790px;
}
.content{
    margin: 0;
    background: #F5F6F8;
}
h1 {
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    padding-top: 59px;
    padding-bottom: 34px;
    font-size: 22pt;
    text-transform: uppercase;
    text-align: center;
    color:  rgba(55, 55, 55, 255);
}
p {
    text-indent: 20px;
    line-height: 26px;
    letter-spacing: 2px;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    margin: 0;
    margin-right: 110px;
    margin-left: 111px;
}
.button {
    padding-bottom: 100px ;
    padding-top:65px;
    text-align: center;
}
#button1 {
    font-size: 12pt;
    letter-spacing: 2px;
    /*font-family: "Gotham Rounded";*/
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: #45b49d;
    padding: 15px 40px;
    border-radius: 3px;
}
.footer1 {

    width: 100%;
    display: inline-block;
}
.right {
    letter-spacing: 2px;
    color: rgba(55, 55, 55, 255);
    font-size: 16pt;
    margin-right:110px;
    margin-bottom: 45px;
    margin-top: 47px;
    float: right;
}
.left { /*СКРЫТЬ*/
    letter-spacing: 2px;
    color: rgba(55, 55, 55, 255);
    visibility: hidden;
    font-size: 16pt;
    margin-top: 40px;
    margin-left:110px;
    margin-bottom: 52px;
    float: left;
}
.colortext {/*Палка*/
    color:#45b49d
}
