body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    width: 100%;

}

div.container {
    margin-left: 50px;
    width: 1280px;
    box-sizing: border-box;
}


a {
    display: inline-block;
    text-decoration: none;
}

.blackRA {
    color: #000000;
}

.letter {
    text-decoration: none;
    text-transform: capitalize;
}
.logo-link {
    display: inline-block;
    float: left;
}
.logo {
    margin-top: 61px;
    /*margin-right: 1088px;*/

    font-size: 80px;
    color: #4bcaff;
    font-family: "Myriad Pro";
    text-align: center;
}

.nav-bar {
    box-sizing: border-box;
    width: 1280px;
    height: 69px;
    margin-top: 45px;
    display: inline-block;
    background: #35444f;
}

.nav-bar-item {
    height: 22px;
    padding-top: 21px;
    padding-bottom: 26px;
    font-size: 24px;
    color: #ffffff;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    display: inline-block;
}

.right {
    padding-right: 204px;
    padding-left: 41px;
    text-align: left;


}


.l-mid, .r-mid {
    padding-left: 41px;
    padding-right: 41px;
}

.left {
    padding-left: 204px;
    padding-right: 41px;
    text-align: right;

}

.nav-bar-item:hover {
    border-left: 1px #818181 solid;
    border-right: 1px #818181 solid;
    background-color: #222f3a;
}

ul {
    text-align: left;
    margin: 0;
    padding: 0;
    border: 1px #35444f solid;
    list-style-type: none;
    display: inline-block;
    width: 344px;
    height: 399px;
    margin-top: 51px;
    vertical-align: top;
}

.left-bar-items {
    font-size: 27px;
    line-height: 80px;
    color: #495863;
    font-family: "Myriad Pro";
    padding-left: 44px;
}

li:hover {
    padding-left: 28px;
    background-color: #dbdbdb;
}

.main-content {
    margin-top: 51px;
    margin-left: 45px;
    width: 885px;
    display: inline-block;
}

.image-block {
    width: 883px;
    height: 527px;
    border: 1px #35444f solid;
    text-align: center;
}

img {
    /*display: inline-block;*/
    width: 320px;
    height: 381px;
    margin-top: 75px;
    margin-right: 268px;
    margin-bottom: 73px;
    margin-left: 297px;

}

img:hover {
    transform: scale(1.38);
    transition: all .2s linear;
}

.first-par {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 30px;
    height: 115px;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    font-family: "Myriad Pro", sans-serif;;
}

.second-par {
    margin-top: 30px;
    margin-right: 22px;
    margin-left: 30px;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    font-family: "Myriad Pro";
}

footer {
    height: 70px;
    margin-top: 51px;
    width: 100%;
    background: #b4b7ba;
    margin-bottom: 30px;
    display: inline-block;
}

.bottom-bar {
    padding-top: 20px;
    /*height: 70px;*/
    margin-left: 44px;
    margin-right: 30px;
    display: inline-block;
    float: left;
}

.bottom-bar-item {
    font-size: 28px;
    color: #0c1927;
    font-family: "Myriad Pro", sans-serif;;
    /*margin-top: 20px;*/
    padding-right: 25px;
    padding-bottom: 4px;
}

.bottom-bar-item:hover {
    color: #3181a6;
    border-bottom: 1px #3181a6 solid;
}

.maTb {
    display: inline-block;
    font-size: 24px;
    color: #010101;
    font-family: "Myriad Pro", sans-serif;
    margin-right: 30px;
    margin-top: 20px;
    float: right;
}
