* {
    margin: 0;
    font-family: sans-serif;
}

body {
    color: #ffffff;
    background-image: url("../img/back.png");
    background-size: cover ;
    background-repeat: no-repeat;

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*    УБРАТЬ */


a {
    text-decoration: none;
    color: white;
}
.gre {
    color: #3cb878;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
header {
    position: relative;
    width: 100%;
    height: 56px;
    background-color: red;
    background-color: rgba(38, 40, 40, 0.6);
}

div.cont, .h-name, .r-menu {
    display: inline-block;
}

.bg-journey, .bg-forum, .bg-calendar, .palka, .icons, .auth {
    display: inline-block;
}

.h-name {
    position: absolute;
    top: 22px;
    left: 81px;
    font-size: 20px;
    line-height: 15px;
    font-weight: 700;

}

.cont {
    position: inherit;
    top: 18px;
    float: right;
}

div.icons {
    position: relative;
}

.bg-forum, .bg-calendar {
    margin-right: 28px;
}

.bg-journey {
    width: 20px;
    height: 20px;
    background: url('../icons/csssprite.png') -58px -10px;
    margin-right: 25px;
}
.bg-journey:hover{
    width: 20px;
    height: 20px;
    background: url('../icons/csssprite1.png') -58px -10px;
    margin-right: 25px;
}


.bg-calendar {
    width: 19px;
    height: 19px;
    background: url('../icons/csssprite.png') -10px -50px;
}
.bg-calendar:hover {
    width: 19px;
    height: 19px;
    background: url('../icons/csssprite1.png') -10px -50px;
}

.bg-forum {
    width: 28px;
    height: 20px;
    background: url('../icons/csssprite.png') -10px -10px;
}
.bg-forum:hover {
    cursor: pointer;
    width: 28px;
    height: 20px;
    background: url('../icons/csssprite1.png') -10px -10px;
}


p.palka {
    opacity: 0.3;
    position: relative;
    top: -3px;
    font-size: 20px;
    line-height: 10px;
    margin-right: 24px;
}

.auth {
    font-size: 14px;
    line-height: 13px;
    position: relative;
    top: -5px;
    margin-right: 75px;
    letter-spacing: 1px;
}
.und:hover {
    text-decoration: underline;
}
/*<<<<<<<<<<<<<<<<<<<<<<*/
/*FORM*/
/*>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.menu {
    margin-left: 61px;
    margin-right: 60px;
}
.name:hover {
    color: #3cb878;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
div.container div.main {
    position: relative;
    margin: auto;
    top: 55px;
    background-color: white;
    width: 444px;
    height: 584px;
    border-radius: 10px;
    margin-bottom: 70px;
}

div.top-f {
    padding-top: 29px;
    width: 384px;
}

div.top-f {
    /*margin-left: 60px;*/
}

.kubik, .reg, .login {
    /*position: relative;*/
    display: inline-block;
}

.reg {
    margin-left: 39px;
    font-size: 20px;
    line-height: 18px;
    color: #000;
}

div.kubik {
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px
}

.login {
    float: right;
    font-size: 14px;
    line-height: 13px;
    margin-top: 4px;
}


.choice {
    display: inline-block;
    margin-top: 15px;
    /*margin-left: 62px;*/
}

.gg, .fb {
    display: inline-block;
}
.gg {
    margin-left: 4px;
}
.facb > * {
    display: inline-block;
}

.facb, .goog {
    font-size: 16px;
    display: inline-block;
    line-height: 13px;
    height: 46px;
    width: 157px;
    padding: 0;
    border: 0;
    background-color: #305db8;
    border-radius: 4px;
    text-align: inherit;
}

.slabo {
    line-height: 19px;
    color: white;
    font-size: 20px;
    margin-left: 18px;
    margin-right: 14px;
}
.fa-google-plus {
    margin-right: 9px;
}

.palka2 {
    font-size: 28px;
    width: 1px;
    color: black;
    opacity: 0.1;
    margin-right: 17px;
}

.facebook {
    color: white;
    width: 40px;
    margin-right: 17px;
}

.goog > * {
    display: inline-block;
}

.goog {
    background-color: #df4a32;
    color: white;
}
.google {
    margin-left: 3px;
}
.palkaor {
    color: black;
}
div.palkaor {
    margin-top: 35px;
}
.ban {
    opacity: 0.5;
    font-size: 14px;
    line-height: 8px;
}
.ban:before,
.ban:after {
    opacity: 0.5;
    content: '';
    display: inline-block;
    position: relative;
    top: 0;
    width: 136px;
    height: 1px;
    vertical-align: middle;
    background: black
}
.ban:before  {
    margin-right: 19px;
}
.ban:after {
    margin-left: 18px;
}

button:hover {
    cursor: pointer;
}



input[type="checkbox"]{
    display: none;
}
.chck {
    position: relative;
    padding-left: 10px;
}
.chck:before {
    content: "";
    /*position: relative;*/
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    left: 22px;
    border-radius: 3px;
    margin-right: 10px;
}
input[type='checkbox']{
    margin-top: 20px;
}
input[type='checkbox']:checked + .chck:before{
    background-image: url("../icons/matb.png");
    content: "";
    position: relative;
    background-repeat: no-repeat;
    background-position: center ;
    top: 0;
    left: 0;
    color: white;
    width: 20px;
    height: 20px;

}

form {
    margin-top: 18px;
    width: 322px;
    height: 375px;


}
form input {
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 287px;
    height: 10px;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 9px;
    line-height: 14px;
}
.chck {
    color: #434343;
    margin-top: 11px;
}
.subm {
    margin-top: 28px;
    height: 46px;
    width: 322px;
    background: #3cb878;
    border-radius: 3px;
    font-size: 16px;
    color: white;
}
.subm:hover {
    cursor: pointer;
}

form input:focus {
    margin-bottom: 17px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

input[type='checkbox']{
    margin-top: 11px;
}
.conf-pasww {
    margin-bottom: 15px;
}