html{
    width: 100%
}
body{
    margin: 0;
    padding: 0;
}

.parallax-container{
    min-height: 598px;
    background-size: cover;
    background: url("../img/img_parallax-bg.jpeg") no-repeat fixed center;
}
.parallax-container > .title{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 32px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 201px;
}
.parallax-container .grid-brand{
    display: grid;
    margin-top: 118px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: start;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "item0 item0 item1 item2 item3 item4"
}
.parallax-container .grid-brand > .item1 {
    grid-area: item1;
}
.parallax-container .grid-brand > .item2 {
    grid-area: item2;
}
.parallax-container .grid-brand > .item3 {
    grid-area: item3;
}
.parallax-container .grid-brand > .item4 {
    grid-area: item4;
}
.second-container{
    background-color: #fff;
}
.second-container .top-rated .title,
.second-container .hot-news .title{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
    margin: 53px;
}
.second-container .top-rated .grid-top-rated{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.second-container .hot-news .grid-hot-news{
    display: grid;
    margin-left: 20%;
    grid-template-rows: 1fr 1.6fr 1.6fr 1fr;
    grid-template-columns: 277px 277px 277px 277px;
    grid-gap: 1vw;
    grid-template-areas:
            "hn1 hn1 hn1 hn2"
            "hn3 hn3 hn4 hn4"
            "hn5 hn5 hn6 hn6"
            "hn7 hn8 hn8 hn8"
}
.second-container .hot-news .grid-hot-news .hn1 {
    grid-area: hn1;
}
.second-container .hot-news .grid-hot-news .hn2 {
    grid-area: hn2;
}
.second-container .hot-news .grid-hot-news .hn3 {
    grid-area: hn3;
}
.second-container .hot-news .grid-hot-news .hn4 {
    grid-area: hn4;
}
.second-container .hot-news .grid-hot-news .hn5 {
    grid-area: hn5;
}
.second-container .hot-news .grid-hot-news .hn6 {
    grid-area: hn6;
}
.second-container .hot-news .grid-hot-news .hn7 {
    grid-area: hn7;
}
.second-container .hot-news .grid-hot-news .hn8 {
    grid-area: hn8;
}
.second-container .hot-news .grid-hot-news > div {
    background-color: #f9f7f7;
}
.second-container .hot-news .grid-hot-news .hn1 > .title,
.second-container .hot-news .grid-hot-news .hn8 > .title{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 16px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    margin-top: 41px;
    margin-left: 525px;
}
.second-container .hot-news .grid-hot-news .hn1 > .content,
.second-container .hot-news .grid-hot-news .hn8 > .content{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: center;
    margin-left: 500px;
    margin-right: 20px;
}
.second-container .hot-news .grid-hot-news .hn2 > .title,
.second-container .hot-news .grid-hot-news .hn7 > .title{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 16px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    margin: 15px;
}
.second-container .hot-news .grid-hot-news .hn3 > .title,
.second-container .hot-news .grid-hot-news .hn4 > .title,
.second-container .hot-news .grid-hot-news .hn5 > .title,
.second-container .hot-news .grid-hot-news .hn6 > .title{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold,sans-serif;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: right;
    margin-right: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.second-container .hot-news .grid-hot-news .hn3 > .content,
.second-container .hot-news .grid-hot-news .hn4 > .content,
.second-container .hot-news .grid-hot-news .hn5 > .content,
.second-container .hot-news .grid-hot-news .hn6 > .content{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    margin-right: 18px;
    margin-left: 18px;
}
.second-container .hot-news .grid-hot-news .hn4 > .title,
.second-container .hot-news .grid-hot-news .hn6 > .title{
    margin-top: 287px;
    margin-bottom: 20px;
}
footer{
    margin-top: 71px;
    background-color: #1d2124;
    height: 80px;
}
footer .grid-footer{
    display: grid;
    margin-left: 20%;
    grid-template-columns: 1020px 1fr;
    grid-gap: 1vw;
    align-items: center;
    padding-top: 30px;
}
footer .grid-footer .gf1{
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}